/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, /*form,*/ label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: verdana;
    font-size: 12px;
    line-height: 1.5;
}

h1, h2, h3, h4{
font-family: 'Metal Mania', cursive;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    clear: both;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p {
    margin: 10px 0;
}

a {
    padding: 3px;
    color: #222;
    text-decoration: underline;
}

section, article {
    margin: 10px;
}

img, video {
    max-width:100%;
}

audio {
    display: none;
}

#container>header {
    max-width: 950px;
    width: 100%;
    height: 550px;
    background: #000 url('pics/logga.png') center no-repeat;
    background-size: contain;
}

nav {   
    display: none;
}

/* Medlemmarna */

section>h2 {
    margin-bottom: -30px;
}

p.right {
    text-align: right;
    float: right;
}

p.left {
    float: left;
    text-align: left;
}

p.lastmember {
    float: none;
    padding-bottom: 10px;
}

img.right {
    width: 275px;
    float: right;
    margin: 25px 0 0 10px;
}

img.left {
    width: 275px;
    float: left;
    margin: 25px 10px 0 0;
}

/* Media */

.latlank {
    display: none;
}

.album {
    max-width: 625px;
    width: 100%;
    margin: 0 auto;
}

.album img {
    margin-bottom:5px;
    width: 300px;
    height: 300px;
}

.musik {
    font-size: 1.2em;  
}

footer {
    clear: both;
    text-align: center;
    font-weight: bold;
}

.fb-like {
   visibility: hidden;
}

#top {
    display: none;
}